@import "tailwindcss";
@plugin "@tailwindcss/typography";

@source "../node_modules/@blaze-chat/markdown";

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "blaze-chat-light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(96% 0.001 286.375);
  --color-base-200: oklch(92% 0.004 286.32);
  --color-base-300: oklch(87% 0.006 286.286);
  --color-base-content: oklch(14% 0.005 285.823);
  --color-primary: oklch(82% 0.111 230.318);
  --color-primary-content: oklch(14% 0.005 285.823);
  --color-secondary: oklch(93% 0.032 255.585);
  --color-secondary-content: oklch(14% 0.005 285.823);
  --color-accent: oklch(68% 0.169 237.323);
  --color-accent-content: oklch(14% 0.005 285.823);
  --color-neutral: oklch(44% 0.017 285.786);
  --color-neutral-content: oklch(96% 0.001 286.375);
  --color-info: oklch(77% 0.152 181.912);
  --color-info-content: oklch(14% 0.005 285.823);
  --color-success: oklch(85% 0.199 91.936);
  --color-success-content: oklch(14% 0.005 285.823);
  --color-warning: oklch(75% 0.183 55.934);
  --color-warning-content: oklch(14% 0.005 285.823);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(14% 0.005 285.823);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.28125rem;
  --size-field: 0.21875rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "blaze-chat-dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(21% 0.006 285.885);
  --color-base-200: oklch(27% 0.006 286.033);
  --color-base-300: oklch(37% 0.013 285.805);
  --color-base-content: oklch(96% 0.001 286.375);
  --color-primary: oklch(58% 0.158 241.966);
  --color-primary-content: oklch(96% 0.001 286.375);
  --color-secondary: oklch(44% 0.11 240.79);
  --color-secondary-content: oklch(96% 0.001 286.375);
  --color-accent: oklch(50% 0.134 242.749);
  --color-accent-content: oklch(96% 0.001 286.375);
  --color-neutral: oklch(44% 0.017 285.786);
  --color-neutral-content: oklch(96% 0.001 286.375);
  --color-info: oklch(77% 0.152 181.912);
  --color-info-content: oklch(14% 0.005 285.823);
  --color-success: oklch(84% 0.238 128.85);
  --color-success-content: oklch(14% 0.005 285.823);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(14% 0.005 285.823);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(14% 0.005 285.823);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.28125rem;
  --size-field: 0.21875rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 0;
}
