:root {
  --foreground: black;
  --background: var(--gray6);
  --surface: var(--gray5);
  --card: var(--gray4);
  --backdrop: --alpha(var(--surface) / 80%);

  --primary: var(--green);
  --error: var(--red);

  @variant dark {
    --foreground: white;
  }
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-card: var(--card);
  --color-backdrop: var(--backdrop);

  --color-primary: var(--primary);
  --color-error: var(--error);
}
