/* https://developer.apple.com/design/human-interface-guidelines/typography#Specifications */

:root {
  --large-title-size: 34pt;
  --title1-size: 28pt;
  --title2-size: 22pt;
  --title3-size: 20pt;
  --headline-size: 17pt;
  --body-size: 17pt;
  --callout-size: 16pt;
  --sub-headline-size: 15pt;
  --footnote-size: 13pt;
  --caption1-size: 12pt;
  --caption2-size: 11pt;

  --large-title-leading: 41pt;
  --title1-leading: 34pt;
  --title2-leading: 28pt;
  --title3-leading: 25pt;
  --headline-leading: 22pt;
  --body-leading: 22pt;
  --callout-leading: 21pt;
  --sub-headline-leading: 20pt;
  --footnote-leading: 18pt;
  --caption1-leading: 16pt;
  --caption2-leading: 13pt;

  --large-title-strong: var(--font-weight-bold);
  --title1-strong: var(--font-weight-bold);
  --title2-strong: var(--font-weight-bold);
  --title3-strong: var(--font-weight-semibold);
  --headline-strong: var(--font-weight-semibold);
  --body-strong: var(--font-weight-semibold);
  --callout-strong: var(--font-weight-semibold);
  --sub-headline-strong: var(--font-weight-semibold);
  --footnote-strong: var(--font-weight-semibold);
  --caption1-strong: var(--font-weight-semibold);
  --caption2-strong: var(--font-weight-semibold);

  --large-title-tracking: 0.4pt;
  --title1-tracking: 0.38pt;
  --title2-tracking: -0.26pt;
  --title3-tracking: -0.45pt;
  --headline-tracking: -0.43pt;
  --body-tracking: -0.43pt;
  --callout-tracking: -0.31pt;
  --sub-headline-tracking: -0.23pt;
  --footnote-tracking: -0.08pt;
  --caption1-tracking: 0pt;
  --caption2-tracking: 0.06pt;

  @variant pointer-fine {
    --large-title-size: 26pt;
    --title1-size: 22pt;
    --title2-size: 17pt;
    --title3-size: 15pt;
    --headline-size: 13pt;
    --body-size: 13pt;
    --callout-size: 12pt;
    --sub-headline-size: 11pt;
    --footnote-size: 10pt;
    --caption1-size: 10pt;
    --caption2-size: 10pt;

    --large-title-leading: 32pt;
    --title1-leading: 26pt;
    --title2-leading: 22pt;
    --title3-leading: 20pt;
    --headline-leading: 16pt;
    --body-leading: 16pt;
    --callout-leading: 15pt;
    --sub-headline-leading: 14pt;
    --footnote-leading: 13pt;
    --caption1-leading: 13pt;
    --caption2-leading: 13pt;

    --large-title-strong: var(--font-weight-bold);
    --title1-strong: var(--font-weight-bold);
    --title2-strong: var(--font-weight-bold);
    --title3-strong: var(--font-weight-semibold);
    --headline-strong: var(--font-weight-black);
    --body-strong: var(--font-weight-semibold);
    --callout-strong: var(--font-weight-semibold);
    --sub-headline-strong: var(--font-weight-semibold);
    --footnote-strong: var(--font-weight-semibold);
    --caption1-strong: var(--font-weight-medium);
    --caption2-strong: var(--font-weight-semibold);

    --large-title-tracking: 0.22pt;
    --title1-tracking: -0.26pt;
    --title2-tracking: -0.43pt;
    --title3-tracking: -0.23pt;
    --headline-tracking: -0.08pt;
    --body-tracking: -0.08pt;
    --callout-tracking: 0pt;
    --sub-headline-tracking: 0.06pt;
    --footnote-tracking: 0.12pt;
    --caption1-tracking: 0.12pt;
    --caption2-tracking: 0.12pt;
  }
}

@theme inline {
  --text-large-title: var(--large-title-size);
  --text-title1: var(--title1-size);
  --text-title2: var(--title2-size);
  --text-title3: var(--title3-size);
  --text-headline: var(--headline-size);
  --text-body: var(--body-size);
  --text-callout: var(--callout-size);
  --text-sub-headline: var(--sub-headline-size);
  --text-footnote: var(--footnote-size);
  --text-caption1: var(--caption1-size);
  --text-caption2: var(--caption2-size);

  --leading-large-title: var(--large-title-leading);
  --leading-title1: var(--title1-leading);
  --leading-title2: var(--title2-leading);
  --leading-title3: var(--title3-leading);
  --leading-headline: var(--headline-leading);
  --leading-body: var(--body-leading);
  --leading-callout: var(--callout-leading);
  --leading-sub-headline: var(--sub-headline-leading);
  --leading-footnote: var(--footnote-leading);
  --leading-caption1: var(--caption1-leading);
  --leading-caption2: var(--caption2-leading);

  --font-weight-large-title-strong: var(--large-title-strong);
  --font-weight-title1-strong: var(--title1-strong);
  --font-weight-title2-strong: var(--title2-strong);
  --font-weight-title3-strong: var(--title3-strong);
  --font-weight-headline-strong: var(--headline-strong);
  --font-weight-body-strong: var(--body-strong);
  --font-weight-callout-strong: var(--callout-strong);
  --font-weight-sub-headline-strong: var(--sub-headline-strong);
  --font-weight-footnote-strong: var(--footnote-strong);
  --font-weight-caption1-strong: var(--caption1-strong);
  --font-weight-caption2-strong: var(--caption2-strong);

  --tracking-large-title: var(--large-title-tracking);
  --tracking-title1: var(--title1-tracking);
  --tracking-title2: var(--title2-tracking);
  --tracking-title3: var(--title3-tracking);
  --tracking-headline: var(--headline-tracking);
  --tracking-body: var(--body-tracking);
  --tracking-callout: var(--callout-tracking);
  --tracking-sub-headline: var(--sub-headline-tracking);
  --tracking-footnote: var(--footnote-tracking);
  --tracking-caption1: var(--caption1-tracking);
  --tracking-caption2: var(--caption2-tracking);
}

@custom-variant strong (& strong);

@utility large-title {
  @apply text-large-title leading-large-title tracking-large-title;
  @apply strong:font-large-title-strong;
}

@utility title1 {
  @apply text-title1 leading-title1 tracking-title1;
  @apply strong:font-title1-strong;
}

@utility title2 {
  @apply text-title2 leading-title2 tracking-title2;
  @apply strong:font-title2-strong;
}

@utility title3 {
  @apply text-title3 leading-title3 tracking-title3;
  @apply strong:font-title3-strong;
}

@utility headline {
  @apply text-headline leading-headline tracking-headline;
  @apply strong:font-headline-strong;
}

@utility body {
  @apply text-body leading-body tracking-body;
  @apply strong:font-body-strong;
}

@utility callout {
  @apply text-callout leading-callout tracking-callout;
  @apply strong:font-callout-strong;
}

@utility sub-headline {
  @apply text-sub-headline leading-sub-headline tracking-sub-headline;
  @apply strong:font-sub-headline-strong;
}

@utility footnote {
  @apply text-footnote leading-footnote tracking-footnote;
  @apply strong:font-footnote-strong;
}

@utility caption1 {
  @apply text-caption1 leading-caption1 tracking-caption1;
  @apply strong:font-caption1-strong;
}

@utility caption2 {
  @apply text-caption2 leading-caption2 tracking-caption2;
  @apply strong:font-caption2-strong;
}
