@import "tailwindcss";

@theme {
  --color-primary: var(--color-black);
  --color-secondary: var(--color-gray-800);
  --color-bg-primary: var(--color-white);
  --color-bg-secondary: var(--color-gray-200);

  --color-dark-primary: var(--color-white);
  --color-dark-secondary: var(--color-gray-200);
  --color-dark-bg-primary: var(--color-black);
  --color-dark-bg-secondary: var(--color-gray-800);

  --breakpoint-desktop: 48rem;
}

#root {
  @apply text-primary;
  @apply bg-bg-primary;

  @variant dark {
    @apply text-dark-primary;
    @apply bg-dark-bg-primary;
  }
}

@utility btn {
  @apply cursor-pointer rounded border px-4 py-2;
  @apply border-primary;
  @apply hover:bg-bg-secondary;

  @variant dark {
    @apply border-dark-secondary;
    @apply hover:bg-dark-bg-secondary;
  }
}
