@import "tailwindcss";

:root {
  --primary-color: var(--color-black);
  --secondary-color: var(--color-gray-800);
  --primary-bg-color: var(--color-white);
  --secondary-bg-color: var(--color-gray-200);
}

@variant dark {
  :root {
    --primary-color: var(--color-white);
    --secondary-color: var(--color-gray-200);
    --primary-bg-color: var(--color-black);
    --secondary-bg-color: var(--color-gray-800);
  }
}

@theme {
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-primary-bg: var(--primary-bg-color);
  --color-secondary-bg: var(--secondary-bg-color);

  --breakpoint-sm: 48rem;
}

#root {
  @apply text-primary;
  @apply bg-primary-bg;
}

@utility btn {
  @apply cursor-pointer rounded border px-4 py-2;

  @apply border-primary;
  @apply hover:bg-secondary-bg;
}
